<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Canvas RPG</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Tiny5&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="main.css">
  <style>
    body {
      background: #000;
    }
  </style>
</head>
<body>
  <div class="canvas-wrapper">
    <canvas id="main-canvas"></canvas>
  </div>
  <div class="controls">
    <label for="debugGrid"><input id="debugGrid" type="checkbox">DEBUG GRID</label>
    <label for="debugData"><input id="debugData" type="checkbox">DEBUG DATA</label>
    <label for="ignoreVision"><input id="ignoreVision" type="checkbox">IGNORE VISION</label>
  </div>
</body>
</html>
